.pointer{
    cursor: pointer;
}

.sotto-sito{
    position: relative;
    width: 70%;
    left: 15%;
    right: 15%;
    border-radius: 20px;
}

.margine{
    height: 600px;
}

.contenutoSottoSito{
    position: relative;
    z-index: 3;
}

.sotto-sito header{
    height: 200px;
    width: 100%;
}

.sotto-sito header h4{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-decoration: none;
}

.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.sub-header p{
    width: calc(60% - 60px);
}

.sub-header div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-header p{
    margin: 0px;
    width: fit-content;
    margin-right: 20px;
}

.sub-header input{
    height: 30px;
    width: 70%;
    border-radius: 20px;
    background-color: rgba(145, 146, 177, .8);
    border: 2px solid rgba(145, 146, 177, .8);   
    color: inherit;
    font-size: inherit;
    text-align: center;
}

.sub-header input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, .8);
}

.preferiti{
    margin-bottom: 100px;
}

.nonPreferiti{
    margin-bottom: 100px;
}

.sottoSito li{
    margin-bottom: 10px;
}

.giochi{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.gioco{
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    width: calc(25% - 20px);
}

.gioco div{
    display: flex;
    justify-content: space-between;
}

.gioco div h5{
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
}

.gioco div img{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: relative;
    top: 30px;
    z-index: 1;
    opacity: 0.9;
}

.gioco img{
    width: 100%;
    height: 150px;
    position: relative;
    border-radius: 20px;
    opacity: 0.7;
}

.gioco p{
    font-size: 15px;
    margin: 0px;
    text-align: center;
}

[data-tema='Fps']{
    background-image: url(Imm-Fps.jpg);
}

[data-tema='Arcade']{
    background-image: url(Imm-Arcade.jpg);
}

[data-tema='VediTutto']{
    background-image: url(Imm-vediTutto.jpg);
}

[data-tema='Corsa']{
    background-image: url(Imm-Corsa.jpg);
}

[data-tema='Quiz']{
    background-image: url(Imm-Quiz.jpg);
}

.blocco{
    width: 30%;
    height: 200px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    line-height: 40px;
}

.blocco h4{
    margin-left: 30px;
    margin-bottom: 10px;
    z-index: 1;
    text-decoration: underline;
}

#blocchi .blocco p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
}

#blocchi div.falsoHover{
    justify-content: center;
}

.opacity{
    opacity: .07;
}

.block-overlay{
    background-color:rgba(0, 0, 0, .7);
    border-radius: 20px;
}

#body-overlay{
    z-index: 2;
}

.dark-overlay{
    background-color:rgba(0, 0, 0, .5);
}

.hidden{
    display: none;
}

@media (max-width: 1650px){ 
    #blocchi div.pointer{
        height: 140px;
        line-height: 25px;
    }
    .gioco div img{
        top: 20px;
    }
}

@media (max-width: 1450px){
    .gioco img{
        height: 100px;
    }   
}

@media (max-width: 1000px){
    .gioco{
        width: calc(33% - 20px);
    }
}

@media (max-width: 700px){  
    #blocchi div.pointer{
        width: 100%;
        height: 120px;
        line-height: 20px;
    }  

    .gioco{
        width: calc(50% - 20px);
    }
}